* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}
html, body {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #cccccc;
}

::-webkit-scrollbar-thumb {
    background: #02887a;
    border-radius: 20px;
}

/*dark-start*/

body.dark {
    background: #343a40;
    color: #fff;
    transition: .5s;
}

body.dark button {
    background: #343a40;
    color: #fff;
    transition: .4s;
    border: 2px solid white;
}

body.dark h1 {
    color: white;
}

body.dark h2 {
    color: white;
    text-transform: uppercase;
}

body.dark h3 {
    color: white;
}

body.dark h4 {
    color: white;
}

body.dark a {
    color: white;
}

body.dark p {
    color: white;
}

/*dark-end*/


/*header-start*/

#header {
    padding: 30px 0;
    background: rgba(131, 128, 128, 0.16);
    position: sticky;
    backdrop-filter: blur(5px);
    top: 0;
    z-index: 100;
    animation: header 2s alternate;
}

@keyframes header {
    0% {
        transform: translateY(-500px);
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo h1 {
    font-weight: 700;
    font-size: 30px;
    color: #173A56;
    padding-left: 16px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav a {
    font-weight: 600;
    font-size: 16px;
    color: #22343D;
    margin: 0 15px;
    transition: .4s;
}

.header-nav a:hover {
    color: #3d3db0;
}

.header-btn {
    padding-left: 30px;
    display: flex;
    align-items: center;
}

.header-btn-one {
    border: 2px solid #BCD0E5;
    border-radius: 4px;
    background: transparent;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 16px;
    color: #173A56;
    transition: .4s;
}

.header-btn-one:hover {
    background: #02897A;
    border: 2px solid #02897A;
    color: white;
}

.header-btn-two {
    padding: 10px 20px;
    margin: 0 20px;
    background: #02897A;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    transition: .4s;
    border: 2px solid #02897A;
}


.header-btn-two:hover {
    background: transparent;
    border: 2px solid white;
    color: #02897A;
}

.icon {
    font-size: 25px;
    color: #02897A;
    background: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.icon:hover {
    transform: rotate(180deg);
}

/*header-end*/

/*our-start*/
#our{
    padding: 60px 0;
}

.our h1{
    font-weight: 700;
    font-size: 40px;
    color: #22343D;
    text-align: center;
    margin: 100px 0 79px 0;
}
.our-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*our-end*/

/*why-start*/
#why{
    padding: 50px 0;
    background: #F5F5F5;
}
.why h1{
    font-weight: 800;
    font-size: 34px;
    text-align: center;
    color: #22343D;
    margin: 24px 0 50px 0;
}
.why-block{
    width: 350px;
    height: 305px;
    border: 1px solid #DEDEDE;
    border-radius: 10px;
}
.img-one {
    width: 50px;
    height: 50px;
    background: #02897A;
    border-radius: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}
.why-block h2{
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #22343D;
    margin: 32px 0 16px 0;
}
.why-block p{
    margin: 0 auto;
    width: 275px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #22343D;
    /*margin-left: 10px;*/
}
.img-two {
    width: 50px;
    height: 50px;
    background: #4D8DFF;
    border-radius: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}
.img-three{
    width: 50px;
    height: 50px;
    background: #F03E3D;
    border-radius: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}
.blocks{
    display: flex;
    justify-content: space-between;
}
/*why-end*/

/*how-start*/
#how{
    padding: 50px 0;
}
.how h1{
    font-weight: 800;
    font-size: 34px;
    text-align: center;
    color: #22343D;
    margin: 100px 0 73px 0;

}
.how-img{
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}
.how-text{
    margin-left: 135px;
}
.how-text h2{
    font-weight: 600;
    font-size: 20px;
    /*text-align: center;*/
    color: #22343D;
}
.how-text h3{
    font-weight: 600;
    font-size: 24px;
    /*text-align: center;*/
    color: #22343D;
    margin: 16px 0;
}
.how-text p{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #22343D;
    text-align: start;
}
.how-img-two{
    display: flex;
    margin-bottom: 100px;
}
.how-text-two{
    margin-right: 132px;
}
.how-text-two  h2{
    font-weight: 600;
    font-size: 20px;
    /*text-align: center;*/
    color: #22343D;
}
.how-text-two  h3{
    font-weight: 600;
    font-size: 24px;
    /*text-align: center;*/
    color: #22343D;
    margin: 16px 0;
}
.how-text-two  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #22343D;
    text-align: start;
}
.how button{
    background: #02897A;
    border-radius: 8px;
    width: 224px;
    height: 44px;
    font-family: 'Montserrat' ,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    transition:.2s;
}
.how button:hover{
    transform: scale(1.1);
    border: solid 2px darkgreen;
    background:transparent;
    color: darkgreen;
}
/*how-end*/


/*have-start*/
#have{
    padding: 40px 0;
}
.have-bloc-one  div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background: #FFEFEF;
    border-radius: 100px;
}
.have  h1{
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #22343D;
    margin: 35px 0 93px 0;
}
.have-bloc-one  h2{
    font-weight: 600;
    font-size: 24px;
    color: #000000;
    margin: 27px 0 16px 0;
    text-align: center;
}
.have-bloc-one  h4{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #22343D;
    margin: 10px 0;
}
.have-bloc-one  h3{
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    margin-top:15px;
}

.have-bloc-two   div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background: #F2F6FF;
    border-radius: 100px;
}
.have-bloc-two   h1{
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #22343D;
    margin: 35px 0 93px 0;
}
.have-bloc-two  h2{
    font-weight: 600;
    font-size: 24px;
    color: #000000;
    margin: 27px 0 16px 0;
    text-align: center;
}
.have-bloc-two   h4{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #22343D;
    margin: 10px 0;
}
.have-bloc-two h3 {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    margin-top:15px;
}

.have-bloc{
    display: flex;
    justify-content: space-around;
}
/*have-end*/

/*join-start*/
#join {
    padding: 60px 0;
}

.join {
    display: flex;
    justify-content: center;
}

.join-block {
    width: 968px;
    height: 345px;
    background: #02897A;
    border-radius: 32px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.join-block-text h1 {
    width: 500px;
    font-weight: 600;
    font-size: 32px;
    line-height: 151.4%;
    color: #FFFFFF;
    padding-bottom: 40px;
}

.join-block-text {
    padding-left: 20px;
}

.join-block-text button {
    font-weight: 600;
    font-size: 20px;
    color: #02897A;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 10px 20px;
}

/*join-end*/


/*footer-start*/
#footer {
    padding: 40px 0;
}

.footer-general {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.footer-logo-one {
    display: flex;
    align-items: center;
}

.footer-logo-one h1 {
    font-weight: 700;
    font-size: 30px;
    color: #173A56;
    padding-left: 16px;
}

.footer-logo-one {
    padding-bottom: 30px;
}

.footer-logo-two a {
    color: #02897A;
    font-size: 25px;
    padding: 15px 8px;
    transition: .4s;
}

.footer-logo-two a:hover {
    color: #3d3db0;
    transform: scale(1.1);
}

.footer-nav h3 {
    font-weight: 500;
    font-size: 20px;
    color: #22343D;
    padding-bottom: 8px;
}

.footer-nav h4 {
    font-weight: 400;
    font-size: 16px;
    color: #22343D;
    padding: 5px 0;
}

.footer-input h1 {
    width: 280px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #22343D;
}

.footer-input input {
    width: 325px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    padding: 0 10px;
    outline: none;
    margin: 34px 0 21px 0;
}

.footer-input button {
    background: #02897A;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    transition: .4s;
    border: 2px solid #02897A;
}

.footer-input button:hover {
    background: transparent;
    color: #02897A;
    border: 2px solid #02897A;
}

.footer-footer {
    font-weight: 400;
    font-size: 16px;
    color: #22343D;
    text-align: center;
    padding: 50px 0 0 0;
}

/*footer-end*/